
*.xml
*.iml
*.json
*.txt
*.cmake
*.log
*.ninja
*.bin
*.exe
*.c
cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.check_cache
*.obj
*.pc
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
*.a
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
*.dll
*.html
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
*.obj
cmake-build-debug/.ninja_log
*.obj
*.obj
.idea/.name
cmake-build-debug/.ninja_deps
